body {
  background: url(../images/drop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#name {
    font-family: "Open Sans" sans-serif;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin-top: 200px;
    color: antiquewhite;
    text-shadow: 0 1px 6px rgba(0,0,0,.1);
    letter-spacing: -1px;
}

span {
    margin: 10px;
    font-size: 3rem;
}

a {
    color: transparent;
}

a:visited {
    color: inherit;
}

#icons {
    margin-top: 20px;
    font-size: 4rem;
}

.fa-facebook-square, .fa-facebook{
 color: #3B5998;
}

.fa-twitter-square, .fa-twitter{
    color: #55ACEE;
}

.fa-linkedin-square, .fa-linkedin{
    color: #007BB6;
}

.fa-github-square, .fa-github{
    color: dimgrey;
}

.fa-tumblr-square, .fa-tumblr{
    color: #2B4964;
}

.fa-google-plus-square, .fa-google-plus{
    color: #C63D2D;
}

.fa-instagram-square, .fa-instagram{
    color: #4E433C;
}